body{
    background-color: white;
}



.text1{
    margin: 70px 0px 50px 0px;
}

.text1::after{
    
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: crimson;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in;
    
    
   
}

.text1:hover::after{
    width: 20%;
}

.btn1{
    @include btn1(#22234F,white);
}

.btn1:hover{
    @include btn1(rgba(0, 0, 255, 0.4),white)

}

.card{
    @include card
}


.card::after{
    
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: crimson;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in;
    
    
   
}

.card:hover::after{
    width: 50%;
}

.presentation{
    background-color: rgb(241, 214, 214);
    margin: 20px 0px 30px 0px;
}

.fs-3{
    margin: 10px 0px 0px 0px;
    
}

.text2::after{
    
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: crimson;
    margin: 0 auto;
    margin-top: 0rem;
    transition: all 0.2s ease-in;
    
    
   
}

.text2:hover::after{
    width: 10%;
}

.card-title1{
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom:50px;
    padding: 10px 0px 16px;
    margin: 0px 15px;
    
    
}



//supprimer



