footer{
    background-color: rgb(241, 214, 214);
    margin: 200px 0px 30px 0px;
}




.footercolor{
    background-color: #22234F;
    margin: 0px 100px 0px 100px;
    color: white;
}

.des{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 0px 0px;
    text-align: center;
    
    

}

ul{
    list-style: none;
}

.bi1{
    color: red;
    background-color: white;
    width: 30px;
    height: 20px;
    border-radius:  50% ;
}
.bi{
    color: red;
}
